STRIPE_SK_TEST_KEY=sk_test_xxx
STRIPE_PK_TEST_KEY=pk_test_xxx
STRIPE_SK_LIVE_KEY=sk_live_xxx
STRIPE_PK_LIVE_KEY=pk_live_xxx
OAUTH_SCOPES=crypto:ramp,kyc.status:read
OAUTH_CLIENT_ID=lwlpk_xxx
LINK_CLIENT_ID=lwlpk_xxx
LINK_CLIENT_SECRET=lwlsk_xxx